<div id="owner" class="page">
  <div class="divided title">
  SUPER GOD MODE
  </div>

  <div class="ui stackable two column grid">
    <div class="column">

      <!-- Reigstration Open/Close -->
      <div
              ng-class="{'loading': loading}"
              class="ui red segment">
        <div class="ui form">

          <div class="ui header">
            Open/Close Registration
          </div>

          <p>
            Users will be able to register new accounts within the time period specified.
          </p>

          <div class="field">
            <label>
              Opens: {{ formatDate(settings.timeOpen) }}
            </label>
            <input type="datetime-local" ng-model="settings.timeOpen">
          </div>

          <div class="field">
            <label>
              Closes: {{ formatDate(settings.timeClose) }}
            </label>
            <input type="datetime-local" ng-model="settings.timeClose">
          </div>

          <div class="ui field">
            <div
                    class="ui green button"
                    ng-click="updateRegistrationTimes()">
              Update
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div ng-class="{'loading': loading}" class="ui red segment">
        <div class="ui header">
          Participant Count
        </div>
        <p>System will automatically wait list acceptances past this value</p>
            <div class="ui form">
              <div class="field">
            <textarea
                    class="ui input"
                    type="text"
                    ng-model="settings.participants">
            </textarea>
              </div>
              <div class="field">
                <div
                        class="ui green button"
                        ng-click="updateParticipantCount()">
                  Update
                </div>
              </div>
            </div>
        </div>

      </div>
  </div>

  </div>

  <div class="ui stackable two column grid">
    <div class="column">

      <div
              ng-class="{'loading': loading}"
              class="ui red segment">
        <div class="ui form">

          <div class="ui header">
            Wave 1 Bracket
          </div>

          <div class="field">
            <label>
              Opens: {{ formatDate(settings.wave1.timeOpen) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave1.timeOpen">
          </div>

          <div class="field">
            <label>
              Closes: {{ formatDate(settings.wave1.timeClose) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave1.timeClose">
          </div>

          <div class="field">
            <label>
              Confirm by: {{ formatDate(settings.wave1.timeConfirm) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave1.timeConfirm">
          </div>

          <div class="field">
            <label>
              Review End: {{ formatDate(settings.wave1.timeSend) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave1.timeSend">
          </div>

          <div class="ui field">
            <div
              class="ui green button"
              ng-click="updateWave(1)">
              Update
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column">

      <div
              ng-class="{'loading': loading}"
              class="ui red segment">
        <div class="ui form">

          <div class="ui header">
            Wave 2 Bracket
          </div>

          <div class="field">
            <label>
              Opens: {{ formatDate(settings.wave2.timeOpen) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave2.timeOpen">
          </div>

          <div class="field">
            <label>
              Closes: {{ formatDate(settings.wave2.timeClose) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave2.timeClose">
          </div>

          <div class="field">
            <label>
              Confirm by: {{ formatDate(settings.wave2.timeConfirm) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave2.timeConfirm">
          </div>

          <div class="field">
            <label>
              Review End: {{ formatDate(settings.wave2.timeSend) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave2.timeSend">
          </div>

          <div class="ui field">
            <div
                    class="ui green button"
                    ng-click="updateWave(2)">
              Update
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column">

      <div
              ng-class="{'loading': loading}"
              class="ui red segment">
        <div class="ui form">

          <div class="ui header">
            Wave 3 Bracket
          </div>

          <div class="field">
            <label>
              Opens: {{ formatDate(settings.wave3.timeOpen) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave3.timeOpen">
          </div>

          <div class="field">
            <label>
              Closes: {{ formatDate(settings.wave3.timeClose) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave3.timeClose">
          </div>

          <div class="field">
            <label>
              Confirm by: {{ formatDate(settings.wave3.timeConfirm) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave3.timeConfirm">
          </div>

          <div class="field">
            <label>
              Review End: {{ formatDate(settings.wave3.timeSend) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave3.timeSend">
          </div>

          <div class="ui field">
            <div
                    class="ui green button"
                    ng-click="updateWave(3)">
              Update
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column">

      <div
              ng-class="{'loading': loading}"
              class="ui red segment">
        <div class="ui form">

          <div class="ui header">
            Wave 4 Bracket
          </div>

          <div class="field">
            <label>
              Opens: {{ formatDate(settings.wave4.timeOpen) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave4.timeOpen">
          </div>

          <div class="field">
            <label>
              Closes: {{ formatDate(settings.wave4.timeClose) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave4.timeClose">
          </div>

          <div class="field">
            <label>
              Confirm by: {{ formatDate(settings.wave4.timeConfirm) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave4.timeConfirm">
          </div>

          <div class="field">
            <label>
              Review End: {{ formatDate(settings.wave4.timeSend) }}
            </label>
            <input type="datetime-local" ng-model="settings.wave4.timeSend">
          </div>

          <div class="ui field">
            <div
                    class="ui green button"
                    ng-click="updateWave(4)">
              Update
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="column ui orange segment">
    <div class="ui checkbox">
      <input type="checkbox" id="showEmailButtons" ng-model="showEmail">
      <label for="showEmailButtons"><h5>Show Email Buttons</h5></label>
    </div>

    <div class="ui field" ng-show="showEmail">
        <div
                class="ui green button"
                ng-click="sendConfirmationLaggerEmails()">
          Send Confirmation Lagger Emails
        </div>

        <div
                class="ui green button"
                ng-click="sendLaggerEmails()">
          Send Application Lagger Emails
        </div>

        <div
                class="ui red button"
                ng-click="rejectall()">
            Reject All
        </div>

    </div>

  </div>

  <div class="column ui orange segment">
    <div class="preview ui segment">
      <h3>System Log</h3>

      <div class="ui checkbox">
        <input type="checkbox" id="showLog" ng-model="showLog" ng-click="getLog()">
        <label for="showLog"><h5>Show log</h5></label>
      </div>

      <br>
      <br>
      <div style="overflow: scroll;">
      <span ng-show="showLog" ng-repeat="line in settings.log.slice().reverse() track by $index">{{line}}<br></span>
      </div>
    </div>
  </div>

</div>

