<div class="ui segment">

  <div class="ui stackable grid">
    <div class="three wide column">
      <div class="ui header">
        Search
      </div>
      <div class="ui form">
        <div class="field">
          <div class="ui icon fluid input">
            <input type="text"
                   placeholder="Search..."
                   ng-model="filter.text"
                   ng-init="filter.text=''"
                   ng-model-options="{debounce: 300}"
                   ng-change="filterUsers()">
              <i class="search icon"></i>
          </div>
        </div>
         <div class="ui checkbox">
            <input type="checkbox"  ng-change="filterUsers()" ng-model="filter.verified">
            <label> Verified </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox"  ng-change="filterUsers()" ng-model="filter.submitted">
            <label> Submitted </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox"  ng-change="filterUsers()" ng-model="filter.admitted">
            <label> Admitted </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox"  ng-change="filterUsers()" ng-model="filter.confirmed">
            <label> Confirmed </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox"  ng-change="filterUsers()" ng-model="filter.needsReimbursement">
            <label> Need travel reimbursements </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox"  ng-change="filterUsers()" ng-model="filter.rejected">
            <label> Rejected </label>
          </div>
      </div>
      <div class="ui divider"></div>

      <button
        ng-repeat="page in pages"
        ng-class="page == currentPage ? 'active pink' : ''"
        ng-click="goToPage(page)"
        class="ui icon basic page button">
        {{page}}
      </button>

    </div>
    <div id="table-container" class="thirteen wide column">
      <div class="ui header">
        Users
        <a class="btn" ng-click="exportCSV()">Export to CSV</a>
        <a class="btn" ng-click="exportTRCSV()">Export TR data to CSV</a>
      </div>
      <div class="ui long user modal">
        <i class="close icon"></i>
        <div class="header">
          {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
          <span
            ng-show="selectedUser.admin">
            (Admin)
          </span>
        </div>
        <div class="content">

          <div>
            <div class="ui header">
              Status:
              <div
                class="ui label">
                {{selectedUser.status.name.toUpperCase()}}
              </div>
            </div>
            <p>
              <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
            </p>
          </div>

          <div ng-repeat="section in selectedUser.sections">
            <div class="ui divider"></div>

            <h3> {{section.title}} </h3>

            <p ng-repeat="field in section.fields">
              <strong> {{field.name}}: </strong>

              <span ng-show="field.type === 'boolean'">
                <i class="red circle remove icon" ng-show="!field.value"></i>
                <i class="green circle check icon" ng-show="field.value"></i>
              </span>

              <span ng-if="field.type == null">
                {{field.value}}
              </span>
            </p>

          </div>

        </div>
        <div class="actions">
          <div class="field"
          ng-if="selectedUser.profile.needsReimbursement">
          <label>
            Choose reimbursement class for the participant. Participant requested class:
            <strong>{{selectedUser.profile.AppliedreimbursementClass}}</strong>
          </label>
          <select
            class="ui fluid dropdown"
            id="class"
            name="class"
            ng-model="selectedUser.Class">
            <option value="">Reimbursement class</option>
            <option value="Finland">Finland</option>
            <option value="Baltics">Baltics</option>
            <option value="Nordic">Nord</option>
            <option value="Europe">Europe</option>Outside Europe
            <option value="Outside Europe">Outside Europe</option>
            <option value="Special">Special amount</option>
            <option value="Rejected">Rejected</option>
          </select>
          <input class="ui fluid input"
           placeholder="Special amount"
           ng-if="selectedUser.Class=='Special'"
           ng-model="selectedUser.SpecialClass">

        </div>
            <button
              class="ui negative button"
              ng-click="toggleReject($event, selectedUser, $index)">
              <i ng-if="!selectedUser.status.rejected">Reject
              </i>
              <i ng-if="selectedUser.status.rejected">Unreject
              </i>
            </button>
            <button
              class="ui positive button"
              ng-click="acceptUser($event, selectedUser, $index)">
              Accept participant {{selectedUser.profile.name}}
            </button>
            <div class="ui negative right labeled icon button">
            Close
            <i class="checkmark icon"></i>
          </div>
        </div>

      </div>

      <table
        class="ui celled selectable compact users table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-mail address</th>
            <th class="sortable" ng-click='sortByDate()'>Application date <i ng-class="{angle: true, icon: true, down: sortDate, up: !sortDate}"></i></th>
            <th>School</th>
            <th>Team</th>
            <th>Age</th>
            <th>V/S/A/C</th>
            <th>R€</th>
            <th>A€</th>
            <th></th>
            <th></th>
            <th>Country</th>
            <th>City</th>
            <th>Home Country</th>
            <th>Travel</th>
            <th>Acc.</th>
            <th>Track pref.</th>
            <th>Occ. status</th>
            <th>Exp.</th>
            <th>Secret</th>

          </tr>
        </thead>
        <tbody>
          <tr
            ng-click="selectUser(user)"
            ng-repeat="user in users"
            ng-class="rowClass(user)">
            <td>
              <strong>
              {{user.id}}
              &nbsp;
            </strong>
            <td>
                {{user.profile.name}}
            </td>
            <td>{{user.email}}</td>
            <td>{{user.timestamp | date: 'mediumDate'}}</td>
            <td>{{user.profile.school}}</td>
            <td>{{user.teamCode}}</td>
            <td>{{user.profile.age}}</td>
            <td
              class="collapsing">

              <!-- Verified -->
              <i
                ng-if="user.verified"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.verified"
                class="red remove circle icon">
              </i>

              <!-- Submitted -->
              <i
                ng-if="user.status.completedProfile"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.status.completedProfile"
                class="red remove circle icon">
              </i>

              <!-- Admitted -->
              <i
                ng-if="user.status.admitted"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.status.rejected && !user.status.admitted"
                class="thin circle icon">
              </i>
              <i
                ng-if="user.status.rejected"
                class="red remove circle icon">
              </i>
              <!-- Confirmed -->
              <i
                ng-if="!user.status.admitted"
                class="circle thin icon">
              </i>
              <i
                ng-if="user.status.admitted && user.status.confirmed"
                class="green check circle icon">
              </i>
              <i
                ng-if="user.status.admitted && !user.status.confirmed && !user.status.declined"
                class="question icon">
              </i>
              <i
                ng-if="user.status.admitted && user.status.declined"
                class="red remove circle icon">
              </i>
            </td>
            <td>
            {{user.profile.AppliedreimbursementClass}}

            </td>
            <td>
              {{user.profile.AcceptedreimbursementClass}}
            </td>

            <td
              class="collapsing">
              <button
                ng-click="goUser($event, user)"
                class="ui circular mini basic icon button">
                <i class="linkify icon"></i>
              </button>
            </td>

            <td
              class="right aligned collapsing">

              <button
                ng-click="voteAdmitUser($event, user, $index)"
                class="ui circular mini basic icon button">

                <i class="green user icon"></i>
              </button>

              <button
                ng-click="voteRejectUser($event, user, $index)"
                lass="ui circular mini basic icon button">

                <i class="red user icon"></i>
              </button>


              <button
                ng-click="toggleReject($event, user, $index)"
                class="ui circular mini basic red icon button">
                <i
                  ng-if="!user.status.rejected"
                  class="flag outline icon"></i>
                <i
                  ng-if="user.status.rejected"
                  class="red flag icon"></i>
              </button>

              <button
                ng-click="toggleCheckIn($event, user, $index)"
                class="ui circular mini basic green icon button">

                <i
                  ng-if="!user.status.checkedIn"
                  class="flag outline icon"></i>

                <i
                  ng-if="user.status.checkedIn"
                  class="green flag icon"></i>

              </button>

              <button
                ng-click="removeUser($event, user, $index)"
                class="ui circular mini basic icon button">

                <i class="remove user icon"></i>
              </button>

            </td>
            <td>{{user.profile.travelFromCountry}}</td>
            <td>{{user.profile.travelFromCity}}</td>
            <td>{{user.profile.homeCountry}}</td>

            <td
              class="collapsing">

              <!-- Required travel reimportsement -->
              <i
                ng-if="user.profile.needsReimbursement"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.profile.needsReimbursement"
                class="red remove circle icon">
              </i>
            </td>

            <td
              class="collapsing">

              <!-- Applies for accomodation -->
              <i
                ng-if="user.profile.applyAccommodation"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.profile.applyAccommodation"
                class="red remove circle icon">
              </i>
            </td>
            <td>{{user.profile.mostInterestingTrack}}</td>
            <td>{{user.profile.occupationalStatus[0]}}</td>
            <td>{{user.profile.codingExperience[0]}}</td>
            <td>{{user.profile.secret}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
