<div id="login">
  <div class="row">
    <div id="quote" class="col-left quotes">
    </div>
    <div class="col-right form-padding">
      <div class="ui segment form">
        <div class="logo">
          <img onclick="randomQuote()" src="assets/images/junction_logo_black.png">
        </div>

        <div class="ui divider"></div>

        <div class="ui small error message"
             ng-show="error">
          {{error}}
        </div>

<!-- LOGIN FORM -->

        <div ng-show="loginState === 'login'">
          <div class="ui login-password form">
            <form ng-submit="login()">
              <div class="field">
                <label class="field-title"> EMAIL</label>
                <input type="email"
                       id='email'
                       placeholder="foo@bar.edu"
                       ng-model="email">
              </div>
              <div class="field">
                <label class="field-title"> PASSWORD</label>
                <input type="password"
                       id='password'
                       placeholder="Password (at least 6 characters)"
                       ng-model="password" required>
              </div>
              <div class="field">
                <button id="login-password"
                        type="submit"
                        class="fluid ui login button">
                        Login
                </button>
              </div>
            </form>
          </div>

          <div class="ui form" ng-show="regIsOpen">
            <div class="ui divider"></div>
            <div class="field">
              <button id="register"
                      type="submit"
                      class="fluid ui register button"
                      ng-click="setLoginState('register')">
                      Register
              </button>
            </div>
          </div>
        </div>

<!-- REGISTER FORM -->

        <div ng-show="loginState === 'register'">
          <div class="ui login-password form">
            <form ng-submit="register()">
              <div class="field">
                <label class="field-title"> EMAIL</label>
                <input type="email"
                       id='email'
                       placeholder="foo@bar.edu"
                       ng-model="email">
              </div>
              <div class="field">
                <label class="field-title"> PASSWORD</label>
                <input type="password"
                       id='password'
                       placeholder="Password (at least 6 characters)"
                       ng-model="password" required>
              </div>
              <div class="field">
                <label class="field-title"> REPEAT PASSWORD</label>
                <input type="password"
                       id='password_repeat'
                       placeholder="Enter password again"
                       ng-model="password_repeat" required>
              </div>
              <div class="field">
                <label class="field-title"> WHAT SHOULD WE CALL YOU?</label>
                <input type="text"
                       id='nickname'
                       placeholder="Cunt"
                       ng-model="nickname" required>
              </div>

              <div class="field">
                <button id="login-password"
                        type="submit"
                        class="fluid ui login button">
                        Register
                </button>
              </div>
            </form>
          </div>
        </div>

<!-- FORGOT FORM -->

        <div ng-show="loginState === 'forgot'">
          <div class="ui forgot-password form">
            <form ng-submit="sendResetEmail()">
              <div class="field">
                <label> Email</label>
                <input type="email"
                       id='email'
                       placeholder="foo@bar.edu"
                       ng-model="email">
              </div>
              <div class="field">
                <button id="forgot-password"
                        type="submit"
                        class="fluid ui login button">
                        Send Reset Email
                </button>
              </div>
            </form>
          </div>
        </div>

<!-- Divider -->

        <div class="ui divider"></div>

          <div ng-show="loginState === 'login'" class="forgot">
            <a href="#" ng-click="setLoginState('forgot')">
              Forgot Password?
            </a>
          </div>

          <div ng-show="loginState === 'forgot'" class="forgot">
            <a href="#" ng-click="setLoginState('login')">
              {{regIsOpen ? 'Login or Register' : 'Login'}}
            </a>
          </div>

          <div ng-show="loginState === 'register'" class="forgot">
            <a href="#" ng-click="setLoginState('login')">
              Login instead?
            </a>
          </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <span class="footer-text">&#9400; Junction 2017</span>
    <a href="http://www.freeprivacypolicy.com/" class="footer-link">Privacy Policy</a>
    <a href="http://www.freeprivacypolicy.com/" class="footer-link">Code of Conduct</a>
</footer>
</div>
