<div class="page">
  <div class="divided title">
    Application
    <i class="help circle icon link head" data-content="Apply for MasseyHacks IV by filling this form! All participants will be chosen based on their programming skills and motivation to come to MasseyHacks." data-variation="inverted" data-position="right center"></i>
  </div>

  <script>
  // Initialize fancy UI scripts

    $('.ui.dropdown')
      .dropdown();

    $('.ui.school.search.dropdown')
      .dropdown({
        allowAdditions: true,
        fullTextSearch: true,
        minCharacters: 0,
        forceSelection: true,
        apiSettings: {
          url: '/api/search/school/{query}'
        },
        fields: {
          name  : 'name', // displayed dropdown
          value : 'id'    // actual dropdown value
        }
      });

  </script>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form error"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email *</label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Username *</label>
          <input type="text"
                 name="nickname"
                 disabled="disabled"
                 ng-model="user.nickname">
        </div>


        <div class="field">
          <label> First Name * </label>
          <input type="text"
                 name="firstname"
                 ng-model="user.profile.firstname">
        </div>

        <div class="field">
         <label> Last Name * </label>
         <input type="text"
                name="lastname"
                ng-model="user.profile.lastname">
        </div>

        <div class="field">
            <label>What grade are you in? *</label>
            <select
                    class="ui fluid dropdown"
                    id="grade"
                    name="grade"
                    ng-model="user.profile.grade">
                <option value="">Grade</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>

       <br>

       <div class="field">
          <label>What gender do you identify as? *</label>
         <p>This information is used for statistical purposes and will not influence your application.</p>
          <select
            class="ui fluid dropdown"
            id="gender"
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer</option>
          </select>
        </div>

        <br>

        <div class="field">
          <label>What is your ethnic background? *</label>
          <p>This information is used for statistical purposes and will not influence your application.</p>
          <select
                  class="ui fluid dropdown"
                  id="ethnicity"
                  name="ethnicity"
                  ng-model="user.profile.ethnicity">
            <option value="">Race</option>
            <option value="W">White / Caucasian</option>
            <option value="B">Black / African American</option>
            <option value="NA">Native</option>
            <option value="A">Asian or Pacific Islander</option>
            <option value="H">Hispanic</option>
            <option value="O">Other / Multiple</option>
            <option value="N">I prefer not to answer</option>
          </select>
        </div>

        <br>

        <div class="field">
          <label> School Information </label>
        </div>

      <div class="field" id="schoolField">
        <label> Which school are you from? *</label>
        <p style="margin-bottom: 10px;">
        Please type in the school you are enrolled at.
        </p>
        <select class="ui fluid school search dropdown"
               name="school"
               id="school"
               ng-model="user.profile.school">
               <option value="">Select School</option>
        </select>
      </div>

      <div class="field">
        <label> What city are you travelling from? *</label>
        <input type="text"
               name="departing"
               ng-model="user.profile.departing">
      </div>

      <div class="field">
        <label> What is your phone number?</label>
        <input type="text"
               name="phone"
               ng-model="user.profile.phone">
      </div>

      <div class="field">
        <label> Dietary Restrictions *</label>

        <p>
          If your restrictions are not included here, please let us know in the additional notes at the bottom.
        </p>
        <p>
          We'll make sure you get fed :)
        </p>

      </div>

      <div class="inline fields">
        <div class="field"
             ng-repeat="(key, value) in dietaryRestrictions">

          <div class="ui checkbox">
            <input type="checkbox" ng-model="dietaryRestrictions[key]" />
            <label>{{key}}</label>
          </div>

        </div>
      </div>

      <div class="field">
        <label> T-shirt size *</label>
        <p>
          Prepping for some FREE swag ;)
        </p>

        <select
          class="ui fluid dropdown"
          name="shirt"
          ng-model="user.profile.shirt"
          required>
          <option value="">Shirt Size</option>
          <option value="S">Small</option>
          <option value="M">Medium</option>
          <option value="L">Large</option>
        </select>
      </div>

      <br>
        <br>
        <div class="divided title">Travel & Accommodation</div>
          <div class="ui checkbox">
          <input type="checkbox" id="travelreimbursement" ng-model="user.profile.travelreimbursement">
            <label><h5>Do you need travel reimbursement? *</h5></label>
        </div>

        <br>
        <br>
        <div class="divided title">Experience</div>

        <div class="ui checkbox">
          <input type="checkbox" id="hackathonxp" ng-model="user.profile.hackathonxp">
          <label for="hackathonxp"><h5>Have you been to a hackathon before? *</h5></label>
        </div>

        <br>
        <br>

        <div class="indent">
          <div class="field" ng-show="user.profile.hackathonxp">
            <label>Which hackathons have you attended? *</label>
            <textarea ng-model="user.profile.pasthackathon">
            </textarea>
          </div>
        </div>

          <br>

        <div class="field">
          <label>How did you find out about us? *</label>
          <select
                  class="ui fluid dropdown"
                  name="methodofdiscovery"
                  id="methodofdiscovery"
                  ng-model="user.profile.methodofdiscovery">
            <option value="">How?</option>
            <option value="mlh">MLH</option>
            <option value="facebook">Facebook</option>
            <option value="mouth">Word of mouth</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="field">
          <label>
            Describe a project you're most proud of *
          </label>
          <p style="margin-bottom: 10px";>
            It doesn't have to relate to programming!
          </p>
          <textarea id="essayproject" name="essayproject" ng-model="user.profile.essayproject">
        </textarea>
        </div>

        <div class="field">
          <label>
              What do you hope to gain from MasseyHacks IV? *
          </label>
          <textarea name="essaygain" id="essaygain" ng-model="user.profile.essaygain">
          </textarea>
        </div>

        <br><br>
        <div class="divided title">Links about you</div>
        <p>Show us what we can find about you on the web! These fields are not mandatory, just a chance to get to know you better :).</p>
        <div class="field">
          <label> Link to your portfolio </label>
          <input type="text"
                 name="github"
                 placeholder="https://hacker.io"
                 ng-model="user.profile.site">
        </div>

        <div class="field">
          <label> Link to your GitHub profile </label>
          <input type="text"
                 name="github"
                 placeholder="https://github.com/hacker"
                 ng-model="user.profile.github">
        </div>

        <div class="field">
          <label> Link to your Devpost profile </label>
          <input type="text"
                 name="github"
                 placeholder="https://devpost.com/hacker"
                 ng-model="user.profile.devpost">
        </div>

        <br><br>
        <div class="divided title">Final questions</div>

        <div class="field">
          <label>
            If you have already formed a team for MasseyHacks IV, please name it with a unique string. </label>
            <p style="margin-bottom: 10px;">
            Remember that the team name is Case Sensitive and all teammates have to apply <strong>separately with the same team name</strong>!
            Having a team is not compulsory at all for attending.
            <br>
            NOTE that to compete for prizes at MasseyHacks IV, your team can be max. 5 members!
          </p>
          <input type="text"
                 name="teamCode"
                 placeholder="cAsE SENsiTiVE"
                 ng-model="user.teamCode">
        </div>

        <div class="field">
          <label>And finally… Spaces or tabs?</label>
          <select
            class="ui fluid dropdown"
            name="spacesOrTabs"
            id="spacesOrTabs"
            ng-model="user.profile.spacesOrTabs">
            <option value="">Choose wisely</option>
            <option value="Spaces">Spaces</option>
            <option value="Tabs">Tabs</option>
          </select>
        </div>

        <div class="field">
          <label>
              Free comment
          </label>
          <p>If there’s anything else you would like to say, this is the place to do it.</p>
          <textarea ng-model="user.profile.freeComment">
          </textarea>
        </div>

        <div class="ui checkbox" style="margin-bottom:5px">
            <input type="checkbox" name="conduct" id="conduct" ng-model="user.profile.conduct">
            <label for="conduct"><h5>I agree with <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH Code of Conduct</a> and
              <a href="https://github.com/MLH/mlh-policies/blob/master/data-sharing.md" target="_blank">MLH Data Sharing Provision</a>*</h5></label>
        </div>
        <div class="ui checkbox">
            <input type="checkbox" name="termsAndCond" id="termsAndCond" ng-model="user.profile.termsAndCond">
            <label for="termsAndCond"><h5>I agree with MLH Terms and Conditions, which can be found
              <a href="https://masseyhacks.com/terms/" target="_blank">here</a>*</h5></label>
        </div>
        <br>
        <br>
        <div class="ui small negative message"
            ng-show='error'>
          {{error}} <br>
          <ul>
          <div data-ng-repeat="i in fieldErrors">
            <li>{{ i }}</li>
          </div>
        </ul>
      </div>

        <div class="field" style="margin-bottom:5px" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui sea-serpent button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>
        By submitting your application to MasseyHacks, you agree to have your registration information shared with partners.

        </fieldset>
      </div>
    </div>
  </div>
</div>
