<div class="page">
  <div class="divided title">
    Application
    <i class="help circle icon link head" data-content="Apply for MasseyHacks IV by filling this form! All participants will be chosen based on their programming skills and motivation to come to MasseyHacks." data-variation="inverted" data-position="right center"></i>
  </div>

  <script>
  // Initialize fancy UI scripts

    $('.ui.dropdown')
      .dropdown();

    $('.ui.school.search.dropdown')
      .dropdown({
        allowAdditions: true,
        fullTextSearch: true,
        minCharacters: 0,
        forceSelection: true,
        apiSettings: {
          url: '/api/search/school/{query}'
        },
        fields: {
          name  : 'name', // displayed dropdown
          value : 'id'    // actual dropdown value
        }
      });

  </script>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form error" ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email <span style="color: red">*</span></label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Username <span style="color: red">*</span></label>
          <input type="text"
                 name="nickname"
                 disabled="disabled"
                 ng-model="user.nickname">
        </div>


        <div class="field">
          <label> First Name <span style="color: red">*</span> </label>
          <input type="text"
                 name="firstname"
                 maxlength="50"
                 ng-model="user.profile.firstname">
        </div>

        <div class="field">
         <label> Last Name <span style="color: red">*</span> </label>
         <input type="text"
                name="lastname"
                maxlength="50"
                ng-model="user.profile.lastname">
        </div>

        <div class="field">
            <label>What grade are you in? <span style="color: red">*</span></label>
            <select
                    class="ui fluid dropdown"
                    id="grade"
                    name="grade"
                    ng-model="user.profile.grade">
                <option value="">Grade</option>
                <option value="<=8"><= 8 (Special Cases)</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>

        <br>

        <div class="field">
          <label>What gender do you identify as? <span style="color: red">*</span></label>
         <p>This information is used for statistical purposes and will not influence your application.</p>
          <select
            class="ui fluid dropdown"
            id="gender"
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer</option>
          </select>
        </div>

        <br>

        <div class="field">
          <label>What is your ethnic background? <span style="color: red">*</span></label>
          <p>This information is used for statistical purposes and will not influence your application.</p>
          <select
                  class="ui fluid dropdown"
                  id="ethnicity"
                  name="ethnicity"
                  ng-model="user.profile.ethnicity">
            <option value="">Race</option>
            <option value="W">White / Caucasian</option>
            <option value="B">Black / African American</option>
            <option value="NA">Native</option>
            <option value="A">Asian or Pacific Islander</option>
            <option value="H">Hispanic</option>
            <option value="O">Other / Multiple</option>
            <option value="N">I prefer not to answer</option>
          </select>
        </div>

        <br>

        <div class="field">
          <label> School Information </label>
        </div>

        <div class="field" id="schoolField">
          <label> Which school are you from? <span style="color: red">*</span></label>
          <p style="margin-bottom: 10px;">
          Please type in the school you are enrolled at.
          </p>
          <select class="ui fluid school search dropdown"
                 name="school"
                 id="school"
                 ng-model="user.profile.school"
                 maxlength="50">
                 <option value="">Select School</option>
          </select>
        </div>

        <div class="field">
          <label> What city are you travelling from? <span style="color: red">*</span></label>
          <input type="text"
                 name="departing"
                 maxlength="50"
                 ng-model="user.profile.departing">
        </div>

        <div class="field">
          <label> What is your phone number? <span style="color: red">*</span></label>
          <input type="tel"
                 name="phone"
                 maxlength="10"
                 ng-model="user.profile.phone">
        </div>

        <div class="field">
          <label> Dietary Restrictions <span style="color: red">*</span></label>

          <p>
            If your restrictions are not included here, please let us know in the free comment section at the bottom.
          </p>
          <p>
            We'll make sure you get fed :)
          </p>

        </div>

        <div class="inline fields">
          <div class="field"
               ng-repeat="(key, value) in diet">

            <div class="ui checkbox">
              <input type="checkbox" ng-model="diet[key]" />
              <label>{{key}}</label>
            </div>

          </div>
        </div>

        <div class="field">
          <label> T-shirt size <span style="color: red">*</span></label>
          <p>
            Prepping for some FREE swag ;)
          </p>

          <select
            class="ui fluid dropdown"
            name="shirt"
            id="shirt"
            ng-model="user.profile.shirt"
            required>
            <option value="">Shirt Size</option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
          </select>
        </div>
          <br>
          <div class="column ui orange segment" style="display: table; width: 100%; transform: translateY(-10px)">
            <h4 style="text-align: center; display: table-cell; vertical-align: middle">Tip: You can save your application (by clicking the button at the bottom) to be worked on later!</h4><br>
          </div>


        <br>
        <div class="divided title">Travel & Accommodation</div>
          <div class="ui checkbox">
          <input type="checkbox" id="needsReimbursement" ng-model="user.profile.needsReimbursement">
            <label><h5>Do you need travel reimbursement?</h5></label>
        </div>

        <br>
        <br>
        <div class="divided title">Experience</div>

        <div class="ui checkbox">
          <input type="checkbox" id="hackathonxp" ng-model="user.profile.hackathonxp">
          <label for="hackathonxp"><h5>Have you been to a hackathon before? <span style="color: red">*</span></h5></label>
        </div>

        <br>
        <br>

        <div class="indent">
          <div class="field" ng-show="user.profile.hackathonxp">
            <label>Which hackathons have you attended?</label>
            <textarea id="pasthackathon" name="pasthackathon" ng-model="user.profile.pasthackathon" maxlength="500">
            </textarea>
            <p>{{user.profile.pasthackathon.length}}/500</p>
          </div>
        </div>

          <br>

        <div class="field">
          <label>How did you find out about us? <span style="color: red">*</span></label>
          <select
                  class="ui fluid dropdown"
                  name="methodofdiscovery"
                  id="methodofdiscovery"
                  ng-model="user.profile.methodofdiscovery">
            <option value="">How?</option>
            <option value="mlh">MLH</option>
            <option value="facebook">Facebook</option>
            <option value="mouth">Word of mouth</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="field">
          <label> What workshops would you like to see at MasseyHacks IV? <span style="color: red"></span> </label>
          <input type="text"
                 name="workshops"
                 id="workshops"
                 maxlength="250"
                 ng-model="user.profile.workshop">
        </div>

        <div class="field">
          <label>
            Describe a project you're most proud of <span style="color: red">*</span>
          </label>
          <p style="margin-bottom: 10px";>
            It doesn't have to relate to programming!
          </p>
          <textarea id="essayproject" name="essayproject" ng-model="user.profile.essayproject" maxlength="1500">
        </textarea>
          <p>{{user.profile.essayproject.length}}/1500</p>
        </div>

        <div class="field">
          <label>
              What do you hope to gain from MasseyHacks IV? <span style="color: red">*</span>
          </label>
          <textarea name="essaygain" id="essaygain" ng-model="user.profile.essaygain" maxlength="1500">
          </textarea>
          <p>{{user.profile.essaygain.length}}/1500</p>
        </div>

        <br><br>
        <div class="divided title">Links about you</div>
        <p>Show us what we can find about you on the web! These fields are not mandatory, just a chance to get to know you better :)</p>
        <div class="field">
          <label> Link to your website </label>
          <input type="text"
                 name="github"
                 maxlength="240"
                 placeholder="https://hacker.io"
                 ng-model="user.profile.site">
        </div>

        <div class="field">
          <label> Link to your GitHub profile </label>
          <input type="text"
                 name="github"
                 maxlength="240"
                 placeholder="https://github.com/hacker"
                 ng-model="user.profile.github">
        </div>

        <div class="field">
          <label> Link to your Devpost profile </label>
          <input type="text"
                 name="github"
                 maxlength="240"
                 placeholder="https://devpost.com/hacker"
                 ng-model="user.profile.devpost">
        </div>

        <br><br>
        <div class="divided title">Final questions</div>

        <p><strong style="color: darkred">If you have already formed a team for MasseyHacks IV, please enter the names and emails of your teammates in the <i>Free Comment</i> section. Teams must have a size of 4 or less.</strong></p>

        <div class="field">
          <label>And finally… Spaces or tabs?</label>
          <select
            class="ui fluid dropdown"
            name="spacesOrTabs"
            id="spacesOrTabs"
            ng-model="user.profile.spacesOrTabs">
            <option value="">Choose wisely</option>
            <option value="Spaces">Spaces</option>
            <option value="Tabs">Tabs</option>
          </select>
        </div>

        <div class="field">
          <label>
              Free comment
          </label>
          <p>If there’s anything else you would like to say, this is the place to do it.</p>
          <textarea ng-model="user.profile.freeComment" maxlength="500">
          </textarea>
          <p>{{user.profile.freeComment.length}}/500</p>
        </div>


        <div class="ui checkbox">
            <input type="checkbox" name="termsAndCond" id="termsAndCond" ng-model="user.profile.termsAndCond">
          <label for="termsAndCond"><h5>I agree to the terms of the <b></b><a style="color: #0d71bb" href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions" target="_blank">MLH Contest Terms and Conditions</a></b>, the <b><a style="color: #0d71bb" href="https://mlh.io/privacy" target="_blank">MLH Privacy Policy</a></b>, and the <a target="_blank" style="color: #0d71bb" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf"><b>MLH Code of Conduct</b></a>. <span style="color: red">*</span></h5></label>
        </div>
        <br>
        <br>
        <div class="ui small negative message"
            ng-show='error'>
          {{error}} <br>
          <ul>
          <div data-ng-repeat="i in fieldErrors">
            <li>{{ i }}</li>
          </div>
        </ul>
      </div>

          You can edit your application after submitting, <b>but you risk losing your place in queue!</b><br><br>
          By submitting your application to MasseyHacks, you agree to have your registration information shared with partners.
          <br>
          <div class="field" style="margin-bottom:5px; padding: 5px" ng-hide="regIsClosed">

            <div style="padding-top: 5px" >
              <button type="submit"
                      class="fluid ui sea-serpent button"
                      ng-click="submitForm()"
                      ng-if="!user.profile.submittedApplication">
                Submit
              </button>

              <button type="submit"
                      class="fluid ui sea-serpent button"
                      ng-click="submitForm()"
                      ng-if="user.profile.submittedApplication">
                Resubmit
              </button>
            </div>

            <div style="padding-top: 5px" ng-show="!user.profile.submittedApplication">
              <button type="submit" class="fluid ui sea-serpent button" ng-click="saveForm()">Save</button>
            </div>
        </div>
     </fieldset>
      </div>
    </div>
  </div>
</div>

