<div id="reset">
  <div>

     <div class="container form-padding">
    <div class="content" style="top: 50vh; transform: translateY(-50%);">
        <div class="ui segment form">
          <div style="margin-bottom: 30px; margin-top: 30px">
            <img src="assets/images/logo_slim.svg" style="min-width: 90px; width: 55%;">
          </div>

          <div class="ui divider"></div>
          <h4 class="forgot">PASSWORD RESET</h4>
          <p class="forgot">Set your new password here.</p>
          <div class="ui small negative message"
               ng-show="error">
            {{error}}
          </div>

          <div class="ui login-password form">
            <form ng-submit="changePassword()">
              <div class="field">
                <label> New Password</label>
                <input type="password"
                       id='password'
                       placeholder="New Password (at least 6 characters)"
                       ng-model="password" required>
              </div>
              <div class="field">
                <label> Confirm New Password</label>
                <input type="password"
                       id='confirm'
                       placeholder="Just making sure you got it!"
                       ng-model="confirm" required>
              </div>
              <div class="field">
                <button id="reset-password"
                        type="submit"
                        class="fluid ui reset button">
                        Reset Password
                </button>
              </div>
            </form>
          </div>

      </div>
    </div>

  </div>


  </div>
 
</div>
