<div id="stats">

  <div
    class="ui green segment"
    ng-class="{'loading': loading}">
    <div class="ui header">
      Stats
    </div>
    <div class="content">
      <em> Last updated: {{fromNow(stats.lastUpdated)}}</em>
      <div class="ui list">
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Total Users
            </strong> :
            {{stats.total}}
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Verified Users
            </strong> :
            {{stats.verified}} ({{stats.verified / stats.total * 100 | number: 1}}%)
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Submitted Users
            </strong> :
            {{stats.submitted}} ({{stats.submitted / stats.verified * 100 | number: 1}}%)
          </div>
        </div>
        <div class="ui divider"></div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Admitted
            </strong> :
            {{stats.admitted}}
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Confirmed (Total)
            </strong> :
            {{stats.confirmed}}
          </div>
        </div>
        <div class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Waiver
            </strong> :
            {{stats.waiver}}
          </div>
        </div>
        <div class="item">
          <i class="circle red icon"></i>
          <div class="content">
            <strong>
              Declined
            </strong> :
              {{stats.declined}}
          </div>
        </div>
        <div class="item">
          <i class="circle red icon"></i>
          <div class="content">
            <strong>
              Rejected
            </strong> :
            {{stats.rejected}}
          </div>
        </div>
        <div class="item">
          <i class="circle yellow icon"></i>
          <div class="content">
            <strong>
              Waitlisted
            </strong> :
            {{stats.waitlisted}}
          </div>
        </div>

        <div class="item">
          <i class="green flag icon"></i>
          <div class="content">
            <strong>
              Checked In
            </strong> :
              {{stats.checkedIn}}
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="item">
            <i class="green flag icon"></i>
            <div class="content">
                <strong>
                    Wave
                </strong> :
                {{stats.wave}}
            </div>
        </div>

        <h4>Note: Votes may not show up as 100% complete due to automated admission system.</h4>

        <div class="item"  style="overflow-x: scroll">
          <div class="content">
            <table class="ui celled selectable compact users table">
              <tr ng-repeat="line in stats.review track by $index" style="height: 50px">
                <th ng-repeat="section in line track by $index" style="min-width: 150px">{{section}}</th>
              </tr>
            </table>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div
    class="ui pink segment"
    ng-class="{'loading': loading}">
    <div class="ui header">
      Demographics (All)
    </div>
    <div class="ui list">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <strong>Total users</strong>: {{stats.submitted}}
        </div>
      </div>
      <div class="item">
        <i class="female icon"></i>
        <div class="content">
          <strong>Female</strong>: {{stats.demo.gender['F']}} ({{stats.demo.gender['F'] / stats.submitted * 100 | number:1}}%)
        </div>
      </div>
      <div class="item">
        <i class="male icon"></i>
        <div class="content">
          <strong>Male</strong>: {{stats.demo.gender['M']}} ({{stats.demo.gender['M'] / stats.submitted * 100 | number:1}}%)
        </div>
      </div>
      <div class="item">
        <i class="other gender icon"></i>
        <div class="content">
          <strong>Other</strong>: {{stats.demo.gender['O']}} ({{stats.demo.gender['O'] / stats.submitted * 100 | number:1}}%)
        </div>
      </div>
      <div class="item">
        <i class="question icon"></i>
        <div class="content">
          <strong>Did not respond</strong>: {{stats.demo.gender['N']}} ({{stats.demo.gender['N'] / stats.submitted * 100 | number:1 }}%)
        </div>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui header">
      Grade Distribution
    </div>
      <div class="ui list">
        <div class="item">
          <strong>Grade <=8</strong> {{stats.demo.grade['<=8']}} ({{stats.demo.grade['<=8'] / stats.submitted * 100 | number: 1}}%)
        </div>
        <div class="item">
          <strong>Grade 9</strong> {{stats.demo.grade['9']}} ({{stats.demo.grade['9'] / stats.submitted * 100 | number: 1}}%)
        </div>
        <div class="item">
          <strong>Grade 10</strong> {{stats.demo.grade['10']}} ({{stats.demo.grade['10'] / stats.submitted * 100 | number: 1}}%)
        </div>
        <div class="item">
         <strong>Grade 11</strong> {{stats.demo.grade['11']}} ({{stats.demo.grade['11'] / stats.submitted * 100 | number: 1}}%)
        </div>
        <div class="item">
          <strong>Grade 12</strong> {{stats.demo.grade['12']}} ({{stats.demo.grade['12'] / stats.submitted * 100 | number: 1}}%)
        </div>
      </div>

    <div class="ui divider"></div>
    <div class="ui header">
      School Distribution
    </div>
    <div class="ui list">
      <div class="item">
        <strong>Massey</strong> {{stats.demo.massey}} ({{stats.demo.massey / (stats.demo.nonmassey + stats.demo.massey) * 100 | number: 1}}%)
      </div>
      <div class="item">
        <strong>Not Massey</strong> {{stats.demo.nonmassey}} ({{stats.demo.nonmassey / (stats.demo.nonmassey + stats.demo.massey) * 100 | number: 1}}%)
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="item">

      <div class="content">
        <div class="ui header">
          Shirt Sizes
        </div>
        <strong>
          Unisex shirt sizes:
        </strong>
        S ({{stats.shirtSizes['S']}})
        M ({{stats.shirtSizes['M']}})
        L ({{stats.shirtSizes['L']}})
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="item">
      <i class="food icon"></i>
      <div class="content">
        <strong>
          Dietary Restrictions:
        </strong>
        <span
                ng-repeat="restriction in stats.dietaryRestrictions | orderBy: '-count'">
              {{restriction.name}} ({{restriction.count}})
            </span>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="item">

      <div class="content">
        <div class="ui header">
          Bus from Toronto/Waterloo
        </div>

        {{stats.bus}}
      </div>
    </div>

  </div>


    <div
            class="ui pink segment"
            ng-class="{'loading': loading}">
      <div class="ui header">
        Demographics (Confirmed)
      </div>
      <div class="ui list">
        <div class="item">
          <i class="users icon"></i>
          <div class="content">
            <strong>Total users</strong>: {{stats.confirmedStat.total}}
          </div>
        </div>
        <div class="item">
          <i class="female icon"></i>
          <div class="content">
            <strong>Female</strong>: {{stats.confirmedStat.demo.gender['F']}} ({{stats.confirmedStat.demo.gender['F'] / stats.confirmedStat.total * 100 | number:1}}%)
          </div>
        </div>
        <div class="item">
          <i class="male icon"></i>
          <div class="content">
            <strong>Male</strong>: {{stats.confirmedStat.demo.gender['M']}} ({{stats.confirmedStat.demo.gender['M'] / stats.confirmedStat.total * 100 | number:1}}%)
          </div>
        </div>
        <div class="item">
          <i class="other gender icon"></i>
          <div class="content">
            <strong>Other</strong>: {{stats.confirmedStat.demo.gender['O']}} ({{stats.confirmedStat.demo.gender['O'] / stats.confirmedStat.total * 100 | number:1}}%)
          </div>
        </div>
        <div class="item">
          <i class="question icon"></i>
          <div class="content">
            <strong>Did not respond</strong>: {{stats.confirmedStat.demo.gender['N']}} ({{stats.confirmedStat.demo.gender['N'] / stats.confirmedStat.total * 100 | number:1 }}%)
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="ui header">
        Grade Distribution
      </div>
      <div class="ui list">
        <div class="item">
          <strong>Grade <=8</strong> {{stats.confirmedStat.demo.grade['<=8']}} ({{stats.confirmedStat.demo.grade['<=8'] / stats.confirmedStat.total * 100 | number: 1}}%)
        </div>
        <div class="item">
          <strong>Grade 9</strong> {{stats.confirmedStat.demo.grade['9']}} ({{stats.confirmedStat.demo.grade['9'] / stats.confirmedStat.total * 100 | number: 1}}%)
        </div>
        <div class="item">
          <strong>Grade 10</strong> {{stats.confirmedStat.demo.grade['10']}} ({{stats.confirmedStat.demo.grade['10'] / stats.confirmedStat.total * 100 | number: 1}}%)
        </div>
        <div class="item">
          <strong>Grade 11</strong> {{stats.confirmedStat.demo.grade['11']}} ({{stats.confirmedStat.demo.grade['11'] / stats.confirmedStat.total * 100 | number: 1}}%)
        </div>
        <div class="item">
          <strong>Grade 12</strong> {{stats.confirmedStat.demo.grade['12']}} ({{stats.confirmedStat.demo.grade['12'] / stats.confirmedStat.total * 100 | number: 1}}%)
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="ui header">
        School Distribution
      </div>
      <div class="ui list">
        <div class="item">
          <strong>Massey</strong> {{stats.confirmedStat.demo.massey}} ({{stats.confirmedStat.demo.massey / (stats.confirmedStat.demo.nonmassey + stats.confirmedStat.demo.massey) * 100 | number: 1}}%)
        </div>
        <div class="item">
          <strong>Not Massey</strong> {{stats.confirmedStat.demo.nonmassey}} ({{stats.confirmedStat.demo.nonmassey / (stats.confirmedStat.demo.nonmassey + stats.confirmedStat.demo.massey) * 100 | number: 1}}%)
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="item">
        <div class="content">
          <div class="ui header">
            Shirt Sizes
          </div>
          <strong>
            Unisex shirt sizes:
          </strong>
          S ({{stats.confirmedStat.shirtSizes['S']}})
          M ({{stats.confirmedStat.shirtSizes['M']}})
          L ({{stats.confirmedStat.shirtSizes['L']}})
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="item">
        <i class="food icon"></i>
        <div class="content">
          <strong>
            Dietary Restrictions:
          </strong>
          <span
                  ng-repeat="restriction in stats.confirmedStat.dietaryRestrictions | orderBy: '-count'">
              {{restriction.name}} ({{restriction.count}})
            </span>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="item">

        <div class="content">
          <div class="ui header">
            Bus from Toronto/Waterloo
          </div>

          {{stats.confirmedStat.bus}}
        </div>
      </div>

    </div>

    <!--
    <div class="ui divider"></div>
    <div class="ui header">
      School Distribution
    </div>
    <div class="ui list">
      <div class="item">
        <strong>Massey</strong> {{stats.demo.grade['<=8']}} ({{stats.demo.grade['<='] / stats.total * 100 | number: 1}}%)
      </div>
      <div class="item">
        <strong>Not Massey</strong> {{stats.demo.grade['9']}} ({{stats.demo.grade['9'] / stats.total * 100 | number: 1}}%)
      </div>
    </div> -->


    <!--   <div
        class="ui purple segment"
        ng-class="{'loading': loading}">
        <div class="ui header">
          Team Names
        </div>
        <div class="ui list">
          <div
            class="item"
            ng-repeat="team in stats.teams | orderBy: 'name'">
            <div class="header">
              {{team.name}}
            </div>
            {{team.users.join(', ')}}
          </div>
        </div>
      </div> -->

</div>

