<div class="page">
    <script src="../../src/qrscanner/jsqrcode-combined.min.js"></script> 
    <script src="../../src/qrscanner/html5-qrcode.min.js"></script>
    <div class="divided title">
        Check In
        <i class="help circle icon link head" data-content="Check in users here with a QR code or unique id" data-variation="inverted" data-position="right center"></i>
    </div>
    <div class="ui stackable page grid">
            <div class="column">
                <div class="ui form">
                     <div id="reader" style="width:400px;height:400px;margin:auto;"></div>
                     <div class="field">
                       <input type="text" id="qrInput">      
                     </div>
                </div>

            </div>
    </div>

    <table
    class="ui celled selectable compact users table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>E-mail address</th>
        <th>Team</th>
        <th>Admitted / Confirmed</th>
        <th></th>
        <th></th>
        <th>Country</th>
        <th>City</th>
        <th>Travel</th>
        <th>Track pref.</th>

      </tr>
    </thead>
    <tbody>
      <tr
        ng-click="selectUser(user)"
        ng-repeat="user in users"
        ng-class="rowClass(user)">
        <td>
          <strong>
          {{user.id}}
          &nbsp;
        </strong>
        <td>
            {{user.profile.name}}
        </td>
        <td>{{user.email}}</td>
        <td>{{user.teamCode}}</td>
        <td
          class="collapsing">

          <!-- Admitted -->
          <i
            ng-if="user.status.admitted"
            class="green check circle icon">
          </i>
          <i
            ng-if="!user.status.rejected && !user.status.admitted"
            class="thin circle icon">
          </i>
          <i
            ng-if="user.status.rejected"
            class="red remove circle icon">
          </i>
          <!-- Confirmed -->
          <i
            ng-if="!user.status.admitted"
            class="circle thin icon">
          </i>
          <i
            ng-if="user.status.admitted && user.status.confirmed"
            class="green check circle icon">
          </i>
          <i
            ng-if="user.status.admitted && !user.status.confirmed && !user.status.declined"
            class="question icon">
          </i>
          <i
            ng-if="user.status.admitted && user.status.declined"
            class="red remove circle icon">
          </i>
        </td>
        
        <td
          class="collapsing">

          <!-- Checked In -->
          <i
            ng-if="user.status.checkedIn"
            class="green check circle icon">
          </i>
          <i
            ng-if="!user.status.checkedIn"
            class="red remove circle icon">
          </i>
        </td>

        <td
          class="right aligned collapsing">

          <button
            ng-click="toggleCheckIn($event, user, $index)"
            class="ui circular mini basic green icon button">

            <i
              ng-if="!user.status.checkedIn"
              class="flag outline icon"></i>

            <i
              ng-if="user.status.checkedIn"
              class="green flag icon"></i>

          </button>

        </td>
        <td>{{user.profile.travelFromCountry}}</td>
        <td>{{user.profile.travelFromCity}}</td>
        <td>{{user.profile.homeCountry}}</td>

        <td
          class="collapsing">

          <!-- Required travel reimportsement -->
          <i
            ng-if="user.profile.needsReimbursement"
            class="green check circle icon">
          </i>
          <i
            ng-if="!user.profile.needsReimbursement"
            class="red remove circle icon">
          </i>
        </td>

        <td
          class="collapsing">

          <!-- Applies for accomodation -->
          <i
            ng-if="user.profile.applyAccommodation"
            class="green check circle icon">
          </i>
          <i
            ng-if="!user.profile.applyAccommodation"
            class="red remove circle icon">
          </i>
        </td>
        <td>{{user.profile.mostInterestingTrack}}</td>
        <td>{{user.profile.occupationalStatus[0]}}</td>
        <td>{{user.profile.codingExperience[0]}}</td>
        <td>{{user.profile.secret}}</td>
      </tr>
    </tbody>
  </table>
</div>