<div class="page">
    <script src="../../src/qrscanner/jsqrcode-combined.min.js"></script> 
    <script src="../../src/qrscanner/html5-qrcode.min.js"></script>
    <div class="divided title">
        Check In
        <i class="help circle icon link head" data-content="Check in users here with a QR code or unique id" data-variation="inverted" data-position="right center"></i>
    </div>
    <div class="ui stackable page grid">
            <div class="column">
                <div class="ui form">
                     <div id="reader" style="width:400px;height:400px;margin:auto;"></div>
                     <div class="field">
                       <input type="text" id="qrInput">      
                     </div>
                </div>

            </div>
    </div>
</div>