<div id="verify">
  <div>

    <div class="container form-padding">
      <div class="content" style="top: 50vh; transform: translateY(-50%);">
        <div class="verify page">

          <div class="ui segment">
            <div ng-show="success && !loading">
              <i class="green check circle icon"></i>
              <p>
                Awesome! Your email has been verified!
              </p>
              <br>
              <div class="ui fluid continue button"
                   ui-sref="app.application">
                Continue to Application
              </div>
            </div>
            <div ng-show="!success && !loading">
              <i class="red circle remove icon"></i>
              <p>
                This token is invalid.
              </p>
            </div>
            <div ng-show="loading">
              <i class="yellow warning circle icon"></i>
              <p>
                Just a moment...<br>
                Connecting to server
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
