<div class="ui segment">
    <div id="table-container" class="thirteen wide column">
            
        <table
            class="ui celled striped compact table">
            <thead>
            <tr>
                <th>Description</th>
                <th>Track</th>
                <th>Role</th>
                <th>Skills</th>
                <th>Top Challenges</th>
                <th>Slack Handle</th>
                <th>Additional</th>
            </tr>
            </thead>
            <tbody>
            <tr
                ng-repeat="user in users"
                ng-class="rowClass(user)">
                <td>{{user.teamMatchmaking.individual.description}}</td>
                <td>{{user.teamMatchmaking.individual.mostInterestingTrack}}</td>
                <td>{{user.teamMatchmaking.individual.role}}</td>
                <td>{{user.teamMatchmaking.individual.skills}}</td>
                <td>
                <ol class="ui list">
                    <li value="-" ng-repeat="challenge in user.teamMatchmaking.individual.topChallenges">
                    {{challenge}}
                    </li>
                </ol>
                </td>
                <td>@{{user.teamMatchmaking.individual.slackHandle}}</td>
                <td>{{user.teamMatchmaking.individual.freeText}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>