<div id="team" class="page">
  <div class="divided title">
    Team
    <i class="help circle icon link head" data-content="Having a team is not compulsory but hackathons can be a fun experience together with a team! Here you can join/create a team and see your team's status!" data-variation="inverted" data-position="right center"></i>
  </div>
  <div class="ui stackable centered page grid">
    <div class="column">
      <div
        class="ui error message"
        ng-show="error">
        {{error}}
      </div>

      <div class="ui segment">
        If you have a team already, please name it with a somewhat unique string. Note that your team name is also Case Sensitive! Remember that in order to compete for prizes at MasseyHacks IV your team can be max. 4 members!
        <div
          class="ui form"
          ng-show="!user.teamCode && regIsOpen">

          <div class="title">
            Join or Create a Team
          </div>

          <br>

          <div class="field">
            <input
              class="ui input"
              type="text"
              maxlength="50"
              placeholder="Choose your team name..."
              ng-model="code">
          </div>

          <div class="field">
            <button
              class="ui labeled icon fluid sea-serpent button"
              ng-click="joinTeam()">
              <i class="sign in icon"></i>
              Join or Create Team
            </button>
          </div>

        </div>

        <div
          ng-show="user.teamCode">
          <div class="form">
            <div class="title">
              Your Team Name:
            </div>
          </div>
          <br>
          <div class="subheader">
            {{user.teamCode}}
          </div>

          <br />

          <div class="ui divider"></div>

          <div class="form">
            <div class="title">
              Your Teammates:
            </div>
          </div>

          <p
            ng-repeat="user in teammates"
            class="item">
            {{user.profile.name || 'Somebody (has not filled out their profile!)'}}
          </p>

          <div
            ng-show="regIsOpen">
            <div class="ui divider"></div>

            <button
              class="ui labeled icon fluid vermilion button"
              ng-click="leaveTeam()">
              <i class="sign out icon"></i>
              Leave Team
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

