/** BRANDING COLORS
 * primary (Raisin black): sidebar color..
 * secondary (Snow): some backgrounds/titles etc.
 * accent1-3: the 3 accent colors
 */

$primary: #0A1939;
$secondary: #FBFBFB;
$tertiary: #041019;
$accent1: #040a19;
$accent2: #040a19;
$accent3: #040a19;
