/** BRANDING COLORS
 * primary (Raisin black): sidebar color..
 * secondary (Snow): some backgrounds/titles etc.
 * accent1-3: the 3 accent colors
 */

$primary: #232323;
$secondary: #FBFBFB;
$tertiary: #5ABECF;
$accent1: #5ABECF;
$accent2: #EF4637;
$accent3: #EC008B;
