// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.

.teal {
  color: $secondary;
  background-color: $accent1;
}

.vermilion {
  color: $secondary;
  background-color: $accent2;
}

.mexicanpink {
  color: $secondary;
  background-color: $accent3;
}
