#dashboard {
  .status {
    text-align: center;
    p {
      text-align: left;
    }
    #placeHolder {
      text-align: center;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    .button {
      margin-top: 12px;
    }
    .header {
      font-size: 1.2em;
    }
    #placeHolder {
      width: 410;
      height: 600;
      margin: auto;
    }
    .state {
      text-align: center;
      padding: 12px 24px;
      margin-bottom: 1em;
      color: $secondary;
      font-size: 1.3em;
      text-transform: uppercase;

      &.unverified {
        background: $status-unverified-color;
      }

      &.incomplete {
        background: $status-incomplete-color;
        color: #FBFBFB;
      }

      &.submitted {
        background: $status-submitted-color;
      }

      &.waitlist {
        background: $status-waitlist-color;
      }

      &.admitted {
        background: $status-admitted-color;
      }

      &.confirmed {
        background: $status-confirmed-color;
      }

      &.checked.in {
        background: $status-checkedin-color;
      }

      &.declined {
        background: $status-declined-color;
      }
    }

    .complete-button {
      background-color: $accent1;
      color: #FBFBFB;
    }
  }

  .segment {
    padding: 36px 36px 12px 36px;
  }

  .description {
    color: $primary;
    margin-bottom: 24px;
    .markdown {
      text-align: left;
      margin-bottom: 24px;
    }
  }
}

.resend {
  background-color: #232323 !important;
  color: #FBFBFB;
}
