#login {
  height: 100%;
  background-color: black;
  width: 100%;
  position: relative;
  display: table;

  .cont{
    display: table-cell;
    vertical-align: middle;
  }

  .content {
    height: 100%;

    position: relative;
    z-index: 2;
  }
  .hidden {
    display: none
  }


  .header{
    .logo {
      padding-top: 50px;
      max-width: 380px;
      margin: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    .tip {
      font-family: Montserrat;
      color: $secondary;
      text-align: center;
      font-size: 22px;
      margin: 10px 0 10px 0;
    }
  }
  .logo-bar {
    position:fixed;
    width: 100%;
  }
  .date {
    color: #fff;
  }


  .logo-row {
    padding-right: 20px;
    vertical-align: middle;
  }


  .emblem {
    float: right;
    max-width: 200px;
    margin: 0 auto 1rem auto;
    img {
      margin-top: 15px;
      width: 50px;
      height: auto;
    }
  }
  .bts {
    margin: auto;
  }
  .button {
    color: $secondary;
    &.login {
      background: $primary;
    }
    &.login:focus, &.login:hover{
      background: darken($primary, 20%);
    }

    &.register {
      background: $accent1;
    }
    &.register:focus, &.register:hover{
      background: darken($accent1, 20%);
    }
  }
  .forgot {
    text-align: center;
  }
  .question {
    margin-bottom: 10px;
  }
  .field-title{
    color: $primary;
  }

  .form {
    max-width: 450px;
    margin: auto;
  }
  .quote-header{
    text-align: center;
    font-size: 27px;
    font-family: Montserrat;
    color: $secondary;
    margin: auto;
    margin-top: 60px;
  }
  .quotes{
    img{
      width: 64px;
      height: 64px;
    }
    .arrowleft {
      float:left;
    }
    .arrowright {
      float:right;
    }
    height: 130px;
    max-width: 750px;
    text-align: center;
    font-size: 20px;
    font-family: Lato;
    font-weight: 400;
    color: $secondary;
    margin: auto;
    #quote{
      padding-bottom: 40px;
      max-width: 500px;
      margin: auto;
    }
  }
  .test {
    height: 3px;
    width: 80px;

    background-color: $accent1;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer {
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #232323;
    height: 25px;
    font-size: 14px;
    color: $secondary;
    padding-left: 5px;
  }
  .footer-text{
    font-size: 14px;
    color: $secondary;
    padding-right: 20px;
  }
  .footer-link{
    font-size: 14px;
    color: $accent1;
    padding-right: 20px;
  }
  a:hover {
    color: #ef4637;
  }
  a:visited {
    color: #5abecf;
  }

}

#login:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url('../assets/images/loginbg.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.37;
}


@media only screen and (max-width: 790px) {
    /* For mobile phones: */

}
