#login {
  height: 100%;
  width: 100%;
  background: url('../assets/images/loginbg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #232323;

  .hidden {
    display: none
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #232323;
    height: 25px;
    font-size: 14px;
    color: $secondary;
    padding-left: 5px;
  }
  .footer-text{
    font-size: 14px;
    color: $secondary;
    padding-right: 20px;
  }
  .footer-link{
    font-size: 14px;
    color: $accent1;
    padding-right: 20px;
  }
  a:hover {
    color: #ef4637;
  }
  a:visited {
    color: #5abecf;
  }

  .logo {
    max-width: 391px;
    margin: 1rem auto 1rem auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .logo-bar {
    position:fixed;
    width: 100%;
  }
  .date {
    color: #fff;
  }


  .logo-row {
    padding-right: 20px;
    vertical-align: middle;
  }


  .emblem {
    float: right;
    max-width: 200px;
    margin: 0 auto 1rem auto;
    img {
      margin-top: 15px;
      width: 50px;
      height: auto;
    }
  }

  .button {
    color: white;
    &.login {
      background: $primary;
    }
    &.login:focus, &.login:hover{
      background: darken($primary, 20%);
    }

    &.register {
      background: $register-color;
    }
    &.register:focus, &.register:hover{
      background: darken($register-color, 20%);
    }

  }

  .forgot {
    text-align: center;
  }
  .field-title{
    color: $primary;
  }

  .form {
    max-width: 450px;
    margin: auto;
  }
  .quote-header{
    text-align: center;
    text-shadow: -0.5px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
    font-size: 30px;
    font-family: Lato;
    color: $secondary;
    margin: auto;
  }
  .quotes{
    text-align: center;
    text-shadow: -0.5px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
    font-size: 40px;
    font-family: Lato;
    color: $secondary;
    margin: auto;
  }
  .welcome-text {
    text-align: center;
    text-shadow: -0.5px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
    font-size: 40px;
    font-family: Lato;
    color: $secondary;
    margin: auto;
    padding: auto;
  }

}
.row{
  height: 100%;
  width: 100%;
  display: table;
}
.col-left {
  width: 50%;
  height: 100%;
  padding: 40px;
  display: table-cell;
  vertical-align: middle;
}
.col-right {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (max-width: 790px) {
    /* For mobile phones: */
    .col-right{
        width: 100%;
    }
    .col-left{
      display: none;
    }
    .logo-bar{
      display: none;
    }
}
