#verify {
  height: 100%;
  width: 100%;
  background: url('../assets/images/loginbg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #232323;
}


.verify.page {
  width:100%;
  height: 100%;
  .title {
    color: #FBFBFB;
    &.divided:after {
    content: " ";
    width: 200px;
    display: block;
    margin: 1em auto 2em;
    border-bottom: 4px solid #FBFBFB;
}
  }

  padding-top: 4em;
  .segment {
    padding: 36px;
    padding-top: 70px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    .icon {
      font-size: 5em;
      margin-bottom: 36px;
    }
    .continue {
      background-color: #232323;
      color: #FBFBFB;
    }
  }
}
