@import 'branding';
@import 'custom';
$font-body: 'Lato Light', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-header: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;

// Login screen variables
$login-bg-color: $secondary;
$login-color: $accent1;
$register-color: $accent2;

$status-unverified-color: $accent3;
$status-incomplete-color: $accent2;
$status-submitted-color: $accent3;
$status-admitted-color: $primary;
$status-confirmed-color: $accent1;
$status-checkedin-color: $accent1;
$status-waitlist-color: $tertiary;
$status-declined-color: $accent2;
$status-rejected-color: red; // Not used

// Sidebar variables
$sidebar-color: $primary;
$sidebar-width: 265px;
$sidebar-transition-time: .5s;
$sidebar-tab-size: 55px;

// Page variables
$page-header-color: $primary;

$brand-primary: $primary;
$brand-secondary: $secondary;
$brand-tertiary: $tertiary;

@mixin transform($transforms) {
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
  transition-duration: $duration;
}

@import 'login';
@import 'base';
@import 'sidebar';
@import 'page';
@import 'dashboard';
@import 'verify';
@import 'team';
@import 'admin';
@import 'reset';

html,
body {
  height: 100%;
  width: 100%;
  font-size: 1.02em;
}

body {
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;

  > .container {
    width: 100%;
    height: 100%;
  }
}

/**
 * SweetAlert Overrides
 */
.sweet-alert {
  font-family: $font-body;
}

/**
 * Semantic-UI Overrides for squareishness
 */
.ui.segment {
  border-radius: 5px;
  box-shadow: none;
  background-color: $secondary;
  opacity: 0.98;
}
input {
  border-radius: 0 !important;
}
.ui.button {
  border-radius: 0;
  &.primary {
    background: $primary;
    &:hover {
      background: lighten($primary, 3%);
    }
    &:active {
      background: darken($primary, 3%);
    }
  }
  &.secondary {
    background: $secondary;
    &:hover {
      background: lighten($secondary, 3%);
    }
    &:active {
      background: darken($secondary, 3%);
    }
    &:focus {
      background: $secondary;
    }
  }
}

.ui.resend {
  background-color: $accent2;
  color: $secondary;
}

.ui.form select {
  height: 2.5em;
}

fieldset {
  padding: 0;
  border: none;
}

a {
  color: $accent1;
}

a.tooltips {
  letter-spacing: normal !important;
  text-weight: normal !important;
  text-transform: none !important;
  position: relative;
  margin-top: -20px;
  display: inline;
  position: absolute;


  cursor: help;
  vertical-align: middle;
  padding: auto;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  width: 2.0ex;
  height: 2.0ex;
  font-size: 0.8ex;
  line-height: 1.8ex;
  border-radius: 1.8ex;
  margin-right: 4px;
  padding: 0 0 2px 0;
  background: white;
  border: 1px solid $accent1;
  text-decoration: none;




}

.sea-serpent {
  background-color: #5ABECF !important;
  color: #FBFBFB !important;
}

.vermilion {
  background-color: #EF4637 !important;
  color: #FBFBFB !important;
}

.icon {
  letter-spacing: normal !important;
  text-weight: normal !important;
  text-transform: none !important;
  position: relative;
  display: inline;
  position: absolute;
  display: inline-block;
}

.tooltip:after{
    content:'A';
    font-weight: bold;
    color:#fff;
}
a.tooltips span {
  letter-spacing: normal !important;
  text-weight: normal !important;
  text-transform: none;
  position: fixed;

  font-weight: normal;
  line-height: 1.1em;

  @media only screen and (max-width: 767px) {
    line-height: 1.3em;
    font-size: 2.0em;
  }

  right:10%;
  top:0%;
  opacity:0.5;
  width: 80%;



  color: #232323;
  background: #FBFBFB;
  border: 4px solid #5ABECF;
  text-align: left;
  visibility: hidden;
  border-radius: 10px 6.6px 10px 10px;
  padding: 30px;
}



a:hover.tooltips span {
  visibility: visible;

  z-index: 999;
  transition: opacity 0.3s, transform 0.3s;
  transition: all 1.0s ease;
  -moz-transition: all 1.0s ease; /* Firefox 4 */
  -webkit-transition: all 1.0s ease; /* Safari and Chrome */
  -o-transition: all 1.0s ease; /* Opera */
  -ms-transition: all 1.0s ease; /* Explorer 10 */



  top:5%;
  width: 80%;
  opacity:0.98;

}


// @import 'animation';
