<div class="page">
  <div class="divided title">
    Confirmation
      <a class="tooltips" href="#">?
        <span>Confirm your attendance to Junction 2017 by adding some practical information about you for the actual hackathon!</span>
      </a>
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Additional Information</div>

        <fieldset ng-disabled="pastConfirmation">
          <div class="field">
            <label> Dietary Restrictions </label>

            <p>
              If your restriction is not included here, please let us know in the additional notes at the bottom.
            </p>
            <p>
              We'll make sure you get fed :)
            </p>

          </div>

          <div class="inline fields">
            <div class="field"
              ng-repeat="(key, value) in dietaryRestrictions">

              <div class="ui checkbox">
                <input type="checkbox" ng-model="dietaryRestrictions[key]" />
                <label>{{key}}</label>
              </div>

            </div>
          </div>

          <div class="field">
            <label> T-shirt size </label>
            <select
              name="shirt"
              ng-model="user.confirmation.shirtSize"
              required>
              <option value="">Shirt Size</option>
              <option value="XS">Unisex X-Small</option>
              <option value="S">Unisex Small</option>
              <option value="M">Unisex Medium</option>
              <option value="L">Unisex Large</option>
              <option value="XL">Unisex X-Large</option>
              <option value="XXL">Unisex XX-Large</option>
            </select>
          </div>

          <div class="field">
            <label>
              Will you be needing hardware?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.wantsHardware">
              <label> Yes, I would like to use hardware in my hack. </label>
            </div>
          </div>

          <div
            class="field"
            ng-show="user.confirmation.wantsHardware">
            <label>
              What kind of hardware would be useful for you?
            </label>
            <p>
              We will have a hardware checkout, and we'll try our best to provide things that would be useful to you - however, we can't guarantee everything. We will publish a list of available hardware closer to the day of the event.
            </p>
            <input type="text" ng-model="user.confirmation.hardware">
          </div>

          <div class="field">
            <label> Your phone number in case we need to contact you </label>
            <input type="text"
                   name="phone"
                   ng-model="user.confirmation.phone">
          </div>

          <div class="field">
            <label> Do you have any special needs or disabilities you want us to know about? </label>
            <input type="text"
                   name="specialNeeds"
                   ng-model="user.confirmation.specialNeeds">
          </div>


          <br>
          <br>

          <div ng-show="user.profile.applyAccommodation">
            <div class="divided title">Accommodation</div>

            <p>
              If you are coming from outside Helsinki region we can offer you free accommodation. To sign up for the free accommodation, please enter the relevant information here.
            </p>
          </div>

          <br>
          <br>

          <div
            ng-show="user.profile.needsReimbursement">
          <div class="divided title">Travel</div>
          <div class="field">
            <span ng-show="classAmount !=='Rejected'">
            <p>
              As a reminder, the maximum reimbursement are as follows:
            </p>
              <p>You will be granted <strong>{{classAmount}}€</strong> for travelling to Junction 2017!</p>
              <p>To receive this reimbursement, please go the Travel Reimbursement tab and fill in the necessary information. The reimbursement will be granted after the event.</p>
            </span>
            <span ng-show="classAmount =='Rejected'">
              <p>We have run out of travel reimbursements. Due to this you will not be granted any travel reimbursements.</p>
            </span>
          </div>
          </div>

          <br>


          <div class="divided title">everything else</div>

          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.confirmation.notes"></textarea>
          </div>
          <div class="ui small negative message"
              ng-show='error'>
              {{error}} <br>
            <ul>
              <div data-ng-repeat="i in fieldErrors">
                <li>{{ i }}</li>
              </div>
            </ul>
          </div>
          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui sea-serpent button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
