<div class="page">
  <div class="divided title">
      Confirmation
      <i class="help circle icon link head" data-content="Confirm your attendance to MasseyHacks IV by adding some practical information about you for the actual hackathon!" data-variation="inverted" data-position="right center"></i>
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">


        <div class="divided title">everything else</div>

        <div class="ui checkbox">
          <input type="checkbox" id="bus" ng-model="user.confirmation.bus">
          <label for="bus"><h5>Are you coming on the Toronto-Waterloo bus? *</h5></label>
        </div>

        <br>
        <br>

        <div class="field">
          <label>
            Additional Notes
          </label>
          <p>
            If there's anything else you need to let us know, tell us here!
          </p>
          <textarea
            ng-model="user.confirmation.notes"></textarea>
        </div>

        <div class="ui small negative message"
            ng-show='error'>
            {{error}} <br>
          <ul>
            <div data-ng-repeat="i in fieldErrors">
              <li>{{ i }}</li>
            </div>
          </ul>
        </div>
        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui sea-serpent button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>

    </div>
  </div>
</div>
