<div class="ui segment" ng-show="!admin.reviewer && !admin.developer">
  You do not have permission to access this page. Please contact an administrator for assistance.
</div>
<div class="ui segment" ng-show="admin.reviewer || admin.developer">

    <p>Note: There's a bug that may cause it to say 0 applications remaining. If you experience that, just refresh the page.</p>

    <!--
    <div class="ui checkbox" style="padding-right: 10px">
      <input type="checkbox"  ng-change="filterUsers()" ng-model="local">
      <label style="padding-left: 20px"> Windsor Only </label>
    </div>
    -->

    <br>

    <button
            class="ui positive button"
            ng-click="review(users)"
            ng-class="{disabled: users.length == 0}">
        Start reviewing!
    </button>

    [{{users.length}} application(s) remaining]

    <br>
    <br>

  <div class="ui checkbox">
    <input type="checkbox" id="showAdvanced" ng-model="showAdvanced">
    <label for="showAdvanced"><h5>Advanced Application Review (Warning, spoils identity of applicants)</h5></label>
  </div>

  <div class="ui stackable" ng-show="showAdvanced">
    <div>
      <div class="ui header" style="padding-top: 20px">
        Search
      </div>
      <div class="ui form">
        <div class="field">
          <div class="ui icon fluid input">
            <input type="text"
                   placeholder="Search..."
                   ng-model="filter.text"
                   ng-init="filter.text=''"
                   ng-model-options="{debounce: 300}"
                   ng-change="filterUsers()">
            <i class="search icon"></i>
          </div>
        </div>
        <div class="ui checkbox" style="padding-right: 10px">
          <input type="checkbox"  ng-change="filterUsers()" ng-model="filter.needsReimbursement">
          <label style="padding-left: 20px"> Need travel reimbursements </label>
        </div>
      </div>
      <div class="ui divider"></div>

      <button
              ng-repeat="page in pages"
              ng-class="page == currentPage ? 'active pink' : ''"
              ng-click="goToPage(page)"
              class="ui icon basic page button">
        {{page}}
      </button>

    </div>
    <div id="table-container" class="thirteen wide column">
      <div class="ui header">
        Users
        <a class="btn" ng-click="exportCSV()">Export to CSV</a>
      </div>
      <div class="ui long user modal">
        <i class="close icon"></i>
        <div class="header">
          MasseyHacks Application Review <br>[{{users.length}} application(s) remaining]
        </div>
        <div class="content">

          <div>
            <div class="ui header">
              Status:
              <div
                      class="ui label">
                {{selectedUser.status.name.toUpperCase()}}
              </div>
            </div>
          </div>

          <div ng-repeat="section in selectedUser.sections">
            <div class="ui divider"></div>

            <h3> {{section.title}} </h3>

            <p ng-repeat="field in section.fields">
              <strong> {{field.name}}: </strong>

              <span ng-show="field.type === 'boolean'">
                <i class="red circle remove icon" ng-show="!field.value"></i>
                <i class="green circle check icon" ng-show="field.value"></i>
              </span>

              <span ng-if="field.type == 'url'">
                <a href="{{field.value}}" target="_blank">{{field.value}}</a>
              </span>

              <span ng-if="field.type == null">
                {{field.value}}
              </span>
            </p>

          </div>

        </div>
        <div class="actions">
          <button
                  class="ui yellow button"
                  ng-click="skipUser($event, selectedUser, $index)">
            PASS
          </button>
          <button
                  class="ui negative button"
                  ng-click="voteRejectUser($event, selectedUser, $index)">
            VOTE REJECT
          </button>
          <button
                  class="ui positive button"
                  ng-click="voteAdmitUser($event, selectedUser, $index)">
            VOTE ACCEPT
          </button>

          <button
                  class="ui negative button"
                  ng-click="toggleReject($event, selectedUser, $index)"
                  ng-show="admin.owner">
            <i ng-if="!selectedUser.status.rejected">Reject [FORCE]
            </i>
            <i ng-if="selectedUser.status.rejected">Unreject [FORCE]
            </i>
          </button>
          <button
                  class="ui positive button"
                  ng-click="acceptUser($event, selectedUser, $index)"
                  ng-show="admin.owner">
            Accept [FORCE]
          </button>
          <div class="ui negative button">
            Close
          </div>
        </div>


      </div>

      <table class="ui celled selectable compact users table">
        <thead>
        <tr>
          <th>Name</th>
          <th>V/S/A/C</th>
          <th></th>
          <th>Wave</th>
          <th>City</th>
          <th>Need Reimbursement</th>
          <th>Email</th>
          <th class="sortable" ng-click='sortByDate()'>Application Last Update <i ng-class="{angle: true, icon: true, down: sortDate, up: !sortDate}"></i></th>
          <th>School</th>
          <th>ID</th>


        </tr>
        </thead>
        <tbody>
        <tr
                ng-click="selectUserBody(user);"
                ng-repeat="user in users"
                ng-class="rowClass(user)">

          <td>
            {{user.profile.name}}
          </td>
          <td
                  class="collapsing">

            <!-- Verified -->
            <i
                    ng-if="user.verified"
                    class="green check circle icon">
            </i>
            <i
                    ng-if="!user.verified"
                    class="red remove circle icon">
            </i>

            <!-- Submitted -->
            <i
                    ng-if="user.status.completedProfile"
                    class="green check circle icon">
            </i>
            <i
                    ng-if="!user.status.completedProfile"
                    class="red remove circle icon">
            </i>

            <!-- Admitted -->
            <i
                    ng-if="user.status.admitted"
                    class="green check circle icon">
            </i>
            <i
                    ng-if="!user.status.rejected && !user.status.admitted"
                    class="thin circle icon">
            </i>
            <i
                    ng-if="user.status.rejected"
                    class="red remove circle icon">
            </i>
            <!-- Confirmed -->
            <i
                    ng-if="!user.status.admitted"
                    class="circle thin icon">
            </i>
            <i
                    ng-if="user.status.admitted && user.status.confirmed"
                    class="green check circle icon">
            </i>
            <i
                    ng-if="user.status.admitted && !user.status.confirmed && !user.status.declined"
                    class="question icon">
            </i>
            <i
                    ng-if="user.status.admitted && user.status.declined"
                    class="red remove circle icon">
            </i>
          </td>

          <td
                  class="right aligned collapsing">

            <button
                    ng-click="voteAdmitUser($event, user, $index)"
                    class="ui circular mini basic icon button">

              <i class="green user icon"></i>
            </button>

            <button
                    ng-click="voteRejectUser($event, user, $index)"
                    class="ui circular mini basic icon button">

              <i class="red user icon"></i>
            </button>

            <button
                    ng-click="acceptUser($event, user, $index)"
                    class="ui circular mini basic green icon button"
                    ng-class="{disabled: user.status.rejected || user.status.admitted}">

              <i class="green checkmark circle icon"></i>
            </button>

            <button
                    ng-click="toggleReject($event, user, $index)"
                    class="ui circular mini basic red icon button"
                    ng-class="{disabled: user.status.admitted}">
              <i
                      ng-if="!user.status.rejected"
                      class="minus outline icon"></i>
              <i
                      ng-if="user.status.rejected"
                      class="red remove icon"></i>
            </button>

            <button
                    ng-click="removeUser($event, user, $index)"
                    class="ui circular mini basic icon button">

              <i class="remove user icon"></i>
            </button>

          </td>

          <td>{{user.wave}}</td>

          <td>{{user.profile.departing}}</td>
          <td
                  class="collapsing">

            <!-- Required travel reimportsement -->
            <i
                    ng-if="user.profile.needsReimbursement"
                    class="green check circle icon">
            </i>
            <i
                    ng-if="!user.profile.needsReimbursement"
                    class="red remove circle icon">
            </i>
          </td>
          <td>{{user.email}}
          <td>{{user.lastUpdated | date: 'mediumDate'}}</td>
          <td>{{user.profile.school}}</td>
          <td>
            <strong>
              {{user.id}}
              &nbsp;
            </strong>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>

