<div id="dashboard" class="page">
  <div id="confetti"></div>

  <div class="divided title">
    Dashboard
    <i class="help circle icon link head" data-content="Your MasseyHacks IV dashboard - here you can always see the status of your application for the event! Once you have been accepted you will be able to confirm or cancel your spot on this page as well." data-variation="inverted" data-position="right center"></i>
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
          Your status:
        </div>
        <br>

        <!-- <div
          class="state"
          ng-class="user.status.name"
          ng-if="!showWaitlist && !dashState('admittedAndCannotConfirm')">
          {{user.status.name}}
        </div> -->

        <div
          class="state"
          ng-class="user.status.name"
          ng-if="!dashState('admittedAndCannotConfirm')">
          {{checkStatus()}}
        </div>

        <div
          class="declined state"
          ng-if="dashState('admittedAndCannotConfirm')">
          Expired Confirmation
        </div>


        <div
          class="waitlist state"
          ng-if="dashState('waitlisted')">
          On waitlist
        </div>

        <div class="ui divider"></div>

        <div id="QRContainer" ng-show="user.status.confirmed && !user.volunteer">
          <img id="QR" ng-src="{{qr}}">
        </div>

        <p>
          <strong>
            Welcome, {{(user.profile.name) ? user.profile.name : user.nickname}}! <br>
          </strong>
        </p>
        <p>
        </p>

        <!-- UNVERIFIED -->
        <div
          ng-if="dashState('unverified')"
          class="description">
          <p>
            <strong>
              Your email address ({{user.email}}) is not yet verified.
            </strong>
          </p>
          <p>
            <strong>
              Please check your inbox for a verification email. Also, remember to check your spam and junk folders just in case!
            </strong>
          </p>
          <p>
            <strong>
              For questions, please contact hello@masseyhacks.ca.
            </strong>
          </p>
          <div class="ui sea-serpent button" ng-click="resendEmail()">
            Resend verification email
          </div>
        </div>

        <!-- INCOMPLETE APPLICATION -->
        <div
          ng-if="dashState('openAndIncomplete') && !user.volunteer"
          class="description">
          <p>
            <strong>
              It seems like your application is incomplete.
            </strong>
          </p>
          <p>
            We encourage you to complete your application. We are eager to review your application and spots are limited so finish it quick!
          </p>
          <div class="ui complete-button button"
               ui-sref="app.application">
            Complete your application
          </div>

        </div>

        <!-- UNDER REVIEW -->
        <div
          ng-if="dashState('submitted')"
          class="description">
          <p>
            Thanks for submitting your application!
            <br>
            <br>
            Your application has successfully been submitted and we are hard at work reviewing it. We will let you know during one of our acceptance waves if you have been accepted to attend MasseyHacks IV. If you are not accepted during the first acceptance wave after your submission, don’t worry as your application is automatically considered for our next wave.             <br>
            <br>
            Meanwhile you can still edit your information and check your status on the Dashboard.

          <div class="ui sea-serpent button"
               ui-sref="app.application">
            Edit your application
          </div>


          <!--
          <div
            class="ui sea-serpent button"
            ng-show="!user.teamCode"
            ui-sref="app.team">
            Create or join a team
          </div>

          <div
            class="ui sea-serpent button"
            ng-show="user.teamCode"
            ui-sref="app.team">
            View your Team
          </div>-->

        </div>

        <!-- APPLICATION DEADLINE PASSED -->
        <div
          ng-if="dashState('closedAndIncomplete')">
          <p>
            <strong>
            Unfortunately, the deadline to complete your application of {{Utils.formatTime(Settings.timeClose)}} has passed.
            </strong>
          </p>
          <p>
            The final deadline to submit your application has passed. Since your application was incomplete, we were unable to consider it. Thank you for your interest and we hope to see you next year.
          </p>
        </div>

        <!-- WAITLISTED -->
        <div
          ng-if="dashState('waitlisted')"
          class="description" >

          <div class="markdown">
            <h4>
              Unfortunately due to overwhelming interest in the event, you have been placed on the waiting list. Don’t worry, we will notify you immediately when a spot opens up for you. Thank you for applying to MasseyHacks IV! </h4>
          </div>

          <div
            class="markdown"
            ng-bind-html="waitlistText">
          </div>

          <div class="ui purple button"
               ui-sref="app.application">
            View your application
          </div>

          <!--
          <div
            class="ui vermilion button"
            ng-show="user.teamCode"
            ui-sref="app.team">
            View your Team
          </div>-->
        </div>

        <!-- NOT CONFIRMED YET -->
        <div
          class="description"
          ng-if="dashState('admittedAndCanConfirm')">

          <div class="markdown">
            <h4>
              You must confirm by {{Utils.formatTime(user.status.confirmBy)}}.
            </h4>
            <p>
              CONGRATULATIONS! Your application was outstanding and you have been accepted to attend MasseyHacks IV. Now you need to confirm your spot at the event. To do this, click the Confirm button below and sign the waiver. Complete this as soon as possible so you do not lose your spot.
            </p>
          </div>

          <div class="ui sea-serpent button"
               ui-sref="app.confirmation">
            Confirm your spot
          </div>

          <div class="ui vermilion button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <!-- CONFIRMATION DEADLINE PASSED -->
        <div
          class="description"
          ng-if="dashState('admittedAndCannotConfirm')">

          <div class="markdown">
            <h4>
              Your confirmation deadline of {{Utils.formatTime(user.status.confirmBy)}} has passed.
            </h4>

            <p>
              Unfortunately, the deadline to confirm your spot has passed. We would have loved to have you at MasseyHacks IV, but you did not confirm your spot in time. Thank you for applying and we hope to see you next year.
            </p>
          </div>
        </div>

        <!-- CONFIRMED -->
        <div
          class="description"
          ng-if="dashState('confirmed') && !user.volunteer">

          <div
            ng-show="!pastConfirmation"
            class="markdown">
            <h4>
              Your spot has successfully been confirmed at MasseyHacks IV!
            </h4>
          </div>

          <div class="markdown">
            <b>Don’t forget that we cannot admit you into the event until your waiver has been signed.</b> It's never too early to start thinking about your hack! We hope to see you on April 28th ready and excited for your 24 hours of hacking!
          </div>

          <div class="ui sea-serpent button"
               ui-sref="app.confirmation">
            {{pastConfirmation ? 'View' : 'Edit'}} your confirmation information
          </div>

          <div class="ui vermilion button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

          <br>

          <div class="ui sea-serpent button"
               ng-click="inviteToSlack()">
            Send Slack invitation
          </div>

          <div class="ui sea-serpent button"
               ng-click="getWaiver()">
            Get Waiver
          </div>

        </div>

        <!-- UNABLE TO MAKE -->
        <div
          class="description"
          ng-if="dashState('declined')">

          <p>
            We're sorry to hear that you won't be able to make it to MasseyHacks IV! :(<br>
            Maybe next year! We hope you see you again soon.
          </p>
        </div>

        <!-- REJECTED -->
        <div
          class="description"
          ng-if="dashState('reviewed')">

          <p>Due to overwhelming amounts of applications, we were unable to secure you a spot at MasseyHacks IV. 😞</p>
          <p>Despite this, we encourage you to apply again next year.</p>
          <p>We appreciate your interest in wanting to be a part of MasseyHacks IV!</p>

        </div>

        <!-- ORGANIZER -->
        <div class="description" ng-if="user.volunteer">
            Hello there fellow organizer, welcome to your administrative dashboard.<br><b>Remember, with great power, comes great responsibility.</b>
        </div>

     </div>

    </div>
  </div>
</div>
