<div id="dashboard" class="page">
  <div class="divided title">
    Dashboard
    <i class="help circle icon link head" data-content="Your Junction 2017 dashboard - here you can always see the status of your application for the event! Once you have been accepted you will be able to confirm or cancel your spot on this page as well." data-variation="inverted" data-position="right center"></i>
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
          Your status:
        </div>
        <br>

        <div
          class="state"
          ng-class="user.status.name"
          ng-if="!showWaitlist && !dashState('admittedAndCannotConfirm')">
          {{user.status.name}}
        </div>

        <div
          class="declined state"
          ng-if="dashState('admittedAndCannotConfirm')">
          Expired Admission
        </div>


        <div
          ng-if="showWaitlist"
          class="waitlist state">
          On waitlist
        </div>

        <div class="ui divider"></div>

        <p>
          <strong>
            Welcome, {{user.nickname}}! <br>
          </strong>
        </p>
        <p>
        </p>

        <div
          ng-if="dashState('unverified')"
          class="description">
          <p>
            <strong>
              Your email address ({{user.email}}) is not yet verified.
            </strong>
          </p>
          <p>
            <strong>
              Please, check your inbox for a verification email. Also, remember to check your spam and junk folders just in case!
            </strong>
          </p>
          <p>
            <strong>
              For questions, please contact participants@hackjunction.com.
            </strong>
          </p>
          <p>
            {{ DASHBOARD.UNVERIFIED }}
          </p>
          <div class="ui resend button" ng-click="resendEmail()">
            Resend verification email
          </div>
        </div>

        <div
          ng-if="dashState('openAndIncomplete')"
          class="description">
          <p>
            <strong>
                {{ DASHBOARD.INCOMPLETE_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.INCOMPLETE }}
          </p>
          <p>
            Awesome to see you register to Junction 2017! Next, fill in the application form to apply for the world’s most exciting hackathon :)
            We look forward to reading your application!
          </p>
          <div class="ui complete-button button"
               ui-sref="app.application">
            Complete your application
          </div>

        </div>

        <div
          ng-if="dashState('openAndSubmitted')"
          class="description">
          <p>
            Thanks for submitting your application!
            <br>
            <br>
            We will process it and get back to you as soon as possible. Unfortunately, there is no robot doing this so it might take some time.
            <br>
            <br>
            Meanwhile you can still edit your information and check your status on the Dashboard.
            <strong>
                {{ DASHBOARD.SUBMITTED_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.SUBMITTED }}
          </p>
          <div class="ui sea-serpent button"
               ui-sref="app.application">
            Edit your application
          </div>

          <div
            class="ui sea-serpent button"
            ng-show="!user.teamCode"
            ui-sref="app.team">
            Create or join a team
          </div>

          <div
            class="ui sea-serpent button"
            ng-show="user.teamCode"
            ui-sref="app.team">
            View your Team
          </div>

        </div>

        <div
          ng-if="dashState('closedAndIncomplete')">
          <p>
            <strong>
                {{ DASHBOARD.CLOSED_AND_INCOMPLETE_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.CLOSED_AND_INCOMPLETE }}
          </p>
        </div>

        <div
          ng-if="dashState('closedAndSubmitted')"
          class="description" >

          <div
            class="markdown"
            ng-bind-html="waitlistText">
          </div>

          <div class="ui purple button"
               ui-sref="app.application">
            View your application
          </div>

          <div
            class="ui vermilion button"
            ng-show="user.teamCode"
            ui-sref="app.team">
            View your Team
          </div>
        </div>

        <div
          class="description"
          ng-if="dashState('admittedAndCanConfirm')">

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM_TITLE }}
            </h4>
          </div>

          <div
            class="markdown"
            ng-bind-html="acceptanceText">
            <p ng-show="user.profile.needsReimbursement">You will be granted <strong>{{classAmount}} € </strong>for the travel reimbursements.</p>
          </div>

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM }}
            </h4>
          </div>

          <div class="ui sea-serpent button"
               ui-sref="app.confirmation">
            Confirm your spot
          </div>

          <div class="ui vermilion button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('admittedAndCannotConfirm')">

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM_TITLE }}
            </h4>

            <p>
                {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM }}
            </p>
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('confirmed')">

          <div
            ng-show="!pastConfirmation"
            class="markdown">
            <h4>
                {{ DASHBOARD.CONFIRMED_NOT_PAST_TITLE }}
            </h4>
            <p ng-show="user.profile.needsReimbursement">You will be granted <strong>{{classAmount}} € </strong>for the travel reimbursements.</p>
            For check-in at the event, please be prepared to show us your Unique ID: <strong>{{user.id}}</strong>!
          </div>

          <div
            class="markdown"
            ng-bind-html="confirmationText">
          </div>

          <div class="ui sea-serpent button"
               ui-sref="app.confirmation">
            {{pastConfirmation ? 'View' : 'Edit'}} your confirmation information
          </div>

          <div class="ui vermilion button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('declined')">

          <p>
            {{ DASHBOARD.DECLINED }}
          </p>
        </div>

      </div>
      <div id="placeHolder"></div>
      
    </div>
  </div>
</div>
