<div id="dashboard" class="page">
  <div id="confetti"></div>

  <div class="divided title">
    Dashboard
    <i class="help circle icon link head" data-content="Your MasseyHacks IV dashboard - here you can always see the status of your application for the event! Once you have been accepted you will be able to confirm or cancel your spot on this page as well." data-variation="inverted" data-position="right center"></i>
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
          Your status:
        </div>
        <br>

        <!-- <div
          class="state"
          ng-class="user.status.name"
          ng-if="!showWaitlist && !dashState('admittedAndCannotConfirm')">
          {{user.status.name}}
        </div> -->

        <div
          class="state"
          ng-class="user.status.name"
          ng-if="!showWaitlist && !dashState('admittedAndCannotConfirm')">
          {{checkStatus()}}
        </div>

        <div
          class="declined state"
          ng-if="dashState('admittedAndCannotConfirm')">
          Expired Admission
        </div>


        <div
          ng-if="showWaitlist"
          class="waitlist state">
          On waitlist
        </div>

        <div class="ui divider"></div>

        <div id="QRContainer" ng-show="user.status.confirmed">
          <img id="QR" ng-src="{{qr}}">
        </div>

        <p>
          <strong>
            Welcome, {{user.nickname}}! <br>
          </strong>
        </p>
        <p>
        </p>

        <div
          ng-if="dashState('unverified')"
          class="description">
          <p>
            <strong>
              Your email address ({{user.email}}) is not yet verified.
            </strong>
          </p>
          <p>
            <strong>
              Please, check your inbox for a verification email. Also, remember to check your spam and junk folders just in case!
            </strong>
          </p>
          <p>
            <strong>
              For questions, please contact hello@masseyhacks.com.
            </strong>
          </p>
          <p>
            {{ DASHBOARD.UNVERIFIED }}
          </p>
          <div class="ui resend button" ng-click="resendEmail()">
            Resend verification email
          </div>
        </div>

        <div
          ng-if="dashState('openAndIncomplete')"
          class="description">
          <p>
            <strong>
                {{ DASHBOARD.INCOMPLETE_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.INCOMPLETE }}
          </p>
          <p>
            It seems like your application is incomplete.
            We encourage you to complete your application in order to increase your chances of acceptance.
            We are eager to review your application and spots are limited so finish it quick!
          </p>
          <div class="ui complete-button button"
               ui-sref="app.application">
            Complete your application
          </div>

        </div>

        <div
          ng-if="dashState('openAndSubmitted')"
          class="description">
          <p>
            Thanks for submitting your application!
            <br>
            <br>
            Your application has successfully been submitted and we are hard at work reviewing it. We will let you know during one of our acceptance waves if you have been accepted to attend MasseyHacks IV. If you are not accepted during the first acceptance wave after your submission, don’t worry as your application is automatically considered for our next wave.             <br>
            <br>
            Meanwhile you can still edit your information and check your status on the Dashboard.
            <strong>
                {{ DASHBOARD.SUBMITTED_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.SUBMITTED }}
          </p>
          <div class="ui sea-serpent button"
               ui-sref="app.application">
            Edit your application
          </div>

          <div
            class="ui sea-serpent button"
            ng-show="!user.teamCode"
            ui-sref="app.team">
            Create or join a team
          </div>

          <div
            class="ui sea-serpent button"
            ng-show="user.teamCode"
            ui-sref="app.team">
            View your Team
          </div>

        </div>

        <div
          ng-if="dashState('closedAndIncomplete')">
          <p>
            <strong>
                {{ DASHBOARD.CLOSED_AND_INCOMPLETE_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.CLOSED_AND_INCOMPLETE }}
          </p>
        </div>

        <div
          ng-if="dashState('closedAndSubmitted')"
          class="description" >

          <div
            class="markdown"
            ng-bind-html="waitlistText">
          </div>

          <div class="ui purple button"
               ui-sref="app.application">
            View your application
          </div>

          <div
            class="ui vermilion button"
            ng-show="user.teamCode"
            ui-sref="app.team">
            View your Team
          </div>
        </div>

        <div
          class="description"
          ng-if="dashState('admittedAndCanConfirm')">

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM_TITLE }}
            </h4>
          </div>

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM }}
            </h4>
          </div>

          <div class="ui sea-serpent button"
               ui-sref="app.confirmation">
            Confirm your spot
          </div>

          <div class="ui vermilion button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('admittedAndCannotConfirm')">

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM_TITLE }}
            </h4>

            <p>
                {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM }}
            </p>
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('confirmed')">

          <div
            ng-show="!pastConfirmation"
            class="markdown">
            <h4>
                {{ DASHBOARD.CONFIRMED_NOT_PAST_TITLE }}
            </h4>
          </div>

          <div
            class="markdown"
            ng-bind-html="confirmationText">
          </div>

          <div class="ui sea-serpent button"
               ui-sref="app.confirmation">
            {{pastConfirmation ? 'View' : 'Edit'}} your confirmation information
          </div>

          <div class="ui vermilion button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('declined')">

          <p>
            We're sorry to hear that you won't be able to make it to MasseyHacks IV! :(
            Maybe next year! We hope you see you again soon.
          </p>
        </div>

        <div
          class="description"
          ng-if="dashState('reviewed')">

          <p>Due to overwhelming amounts of applications, we were unable to secure you a spot at MasseyHacks IV. 😞</p>
          <p>Despite this, we encourage you to apply again next year.</p>
          <p>We appreciate your interest in wanting to be a part of MasseyHacks IV!</p>

        </div>

      </div>
      
    </div>
  </div>
</div>
